{% extends 'base.html' %}

{% block content %}
{% include 'main/transaction_form.html' %}
<div class="dashboard">
    <div class="dashboard__column" style="min-width: 540px;">
        <div class="category-block dashboard-card">
            <div class="category-block__header">
                <div class="category-block__title">
                    <div class="category-block__name">{{ account.name }}</div>
                    <div class="category-block__date">{{ today | date:'F Y' }}</div>
                </div>
                <div class="category-block__stats">
                    <div class="category-block__stats-item">
                        <div class="category-block__stats-amount">{{ account.planned_amount }} Т</div>
                        <div class="category-block__stats-title">бюджет</div>
                    </div>
                </div>
            </div>
            <div class="category-block__body">
                <div class="chart-wrapper">
                    <canvas id="chart" data-account-id="{{ account.id }}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard__column">
        <div class="feed">
            {% include 'main/transaction_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
