<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% block title %}Введите новый пароль{% endblock title %}
{% block content %}
<div class="form-container">
    <h1 class="title">Установите новый пароль!</h1>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-item">
            <div class="form-input">
                <div class="form-input__icon">
                    <i class="fas fa-key"></i>
                </div>
                {{ form.new_password1 }}
            </div>
            <div class="form-error">
                {{ form.new_password1.errors }}
            </div>
        </div>
        <div class="form-item">
            <div class="form-input">
                <div class="form-input__icon">
                    <i class="fas fa-key"></i>
                </div>
                {{ form.new_password2 }}
            </div>
            <div class="form-error">
                {{ form.new_password2.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="submit">Изменить пароль</button>
        </div>
    </form>
</div>

{% endblock content %}