<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% block title %}Востановление пароля{% endblock title %}
{% block content %}


<div class="form-container">
    <h1 class="title">Востановление пароля</h1>
    <form method="POST" class="form">
        {% csrf_token %}
        <p>Введите свой адрес электронной почты ниже, и мы вышлем вам по электронной почте инструкцию
            по востановлению пароля.</p>
        {{ form.non_field_errors }}
        <div class="form-item">
            <div class="form-item__icon">
                <i class="fas fa-envelope"></i>
            </div>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-actions">
            <button type="submit" class="submit">Пришлите мне инструкции!</button>
        </div>
    </form>
</div>

{% endblock content %}