{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock title %}

{% block content %}

<div class="form-container">
    <h1 class="title">Смена пароля</h1>
    <form action="" method="POST" class="form">
        <p>Пожалуйста, введите свой старый пароль, в целях безопасности, а затем введите
            ваш новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</p>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-item">
            <div class="form-item__icon">
                <i class="fas fa-key"></i>
            </div>
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>
        <div class="form-item">
            <div class="form-item__icon">
                <i class="fas fa-key"></i>
            </div>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div class="form-item">
            <div class="form-item__icon">
                <i class="fas fa-key"></i>
            </div>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <div class="form-actions">
            <button type="submit" class="submit">Изменить мой пароль</button>
        </div>
    </form>
</div>
{% endblock content %}